@import "https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css";

#body {
    text-align: center;

    header, footer {
        padding: 5em 0;
    }

    header img {
        max-width: 10em;
    }

    input {
        min-width: 20em;
    }

    input::-webkit-input-placeholder {
        text-align: center;
    }

    input:-moz-placeholder {
        text-align: center;
    }

    input::-moz-placeholder {
        text-align: center;
    }

    input:-ms-input-placeholder {
        text-align: center;
    }

    input::-ms-input-placeholder {
        text-align: center;
    }

    .form {
        padding: 5em;
    }

    .checkboxes {
        margin: 1em auto;
    }

    .checkboxes > div {
        margin: auto 3em;
    }

    #results > div {
        text-align: left;

        .fas {
            margin-right: 0.8em;
        }
    }
}


