<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Nix Configuration Helper</title>
        <link rel="icon" type="image/png" href="{{ asset('images/nix-config-helper.png') }}" />
        <link rel="stylesheet" href="{{ asset('/assets/app.css') }}">
    </head>
    <body>
        <main></main>
        <script src="{{ asset('/assets/app.js') }}"></script>
    </body>
</html>
