{% extends '@!NelmioApiDoc/SwaggerUi/index.html.twig' %}

{% block meta %}
    {{ parent() }}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{{ asset('images/nix-config-helper.png') }}" />
{% endblock meta %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        header {
            display: none;
        }

        body {
            margin: 0;
        }
    </style>
{% endblock stylesheets %}
